<mat-form-field >
    <mat-label>Autocomplete</mat-label>
    <input matInput [formControl]="ngControl.control" [matAutocomplete]="autocomplete" #input (keyup)="onFilterChange($event)">
    <button mat-icon-button matSuffix *ngIf="ngControl.control.value" (click)="onClear($event)">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #autocomplete requireSelection>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
