<mat-form-field >
    <mat-label>Select</mat-label>
    <mat-select [formControl]="ngControl.control" (closed)="search.value = ''" >
        <mat-form-field>
            <input #search cdkTrapFocus matInput placeholder="Search" (keyup)="onFilterChange($event)" cdkFocusInitial >
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-select>
</mat-form-field>
